includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - .blade.php
        - tests/Fixtures
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    databaseMigrationsPath:
        - database/migrations
